<div class="container">
    <div class="col-lg-12 well">
        <h1 class=" col-lg-6">Please Sign up here </h1>
        <div class="col-lg-6">
            <h1>Already Have Account.. <a href="">Sign In</a>
            </h1>
        </div>
    </div>
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label> First Name</label>
                            <input type="text" placeholder="Enter First Name.." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label> Last Name</label>
                            <input type="text" placeholder="Enter Last Name.." class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label> Employee ID </label>
                            <input type="text" placeholder="Enter Employee ID.." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label> Title </label>
                            <input type="text" placeholder="Enter Title ID.." class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label> Domain </label>
                            <input type="text" placeholder="Enter skills like .NET / Java / Salesforce.." class="form-control" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label> Email Address </label>
                            <input type="text" placeholder="Enter official EMail ID.." class="form-control" required>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg btn-info">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>